# Environment / Secrets
.env
*.md

# IDE files
.idea/

# Python cache
__pycache__/
*.pyc

# Data files
uploads/
models/
results/
*.csv

# System
.DS_Store


# Ignore unwanted root files
.txt
create_real_dataset.py
demo_test_script.py
realistic_dataset_generator.py

frontend2/node_modules/